html {
	font-size: 62.5%;
	height: 100%;
}
body {
	background-color: #68cdd5;
	color: #fff;
	min-height: 100%;
}
img {
	display: block;
}
.header img {
	width: 3rem;
	padding-top: 2rem;
	padding-left: 2rem;
}
.content {
	display: block;
	padding: 6rem 20% 2rem 20%;
	min-height: 100%;
}
h2 img {
    width: 9rem;
    margin: 0 auto 12rem;
}
p {
	font-size: 1.5rem;
}
.footer {
	padding-top: 12rem;
}
.footer-left {
	float: left;
}
.footer-right {
	float: right;
}
.footer-left img {
	width: 4.4rem;
	margin: 0 auto 1.5rem;
}
.footer-right img {
	width: 4.4rem;
	margin: 0 auto 1.5rem;
}
.footer-left p {
	font-size: 1.2rem;
}
.footer-right p {
	font-size: 1.2rem;
}