/* CSS reset */
*{
    padding:0;
    margin:0;
}
body {
    font-family: "Microsoft YaHei", serif;
}
a {
    text-decoration:none;
    color:#00c;
    outline:none;
}/*此处待添加默认链接颜色*/
li {
    list-style: none;
}
input {
    border:none;
    outline:none;
}