/*common*/
html {

}
body {
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
	letter-spacing: 0.2rem;
}
/*header*/
header {
	width: 100%;
	padding: 1rem;
	border-bottom: 1px solid #74d4eb;
	background: #29bde0;
	overflow: hidden;
}
.pull-left img {
	width: 2.5rem;
	cursor: pointer;
}
.pull-right img {
	width: 2rem;
	cursor: pointer;
}
header h3 {
	color: #fff;
	font-size: 1.7rem;
	text-align: center;
}
/*top*/
.top {
	padding: 1.3rem 12% 1rem 12%;
	background: #29bde0;
}
.top span {
	color: #ffc865;
	font-size: 1.6rem;
}
.result {
	padding-top: 2.8rem;
}
.result p, .row {
	height: 2rem;
	line-height: 2rem;
	color: #e2f3f9;
	font-size: 1.3rem;
}
/*details*/
.details{
	padding-bottom: 8rem;
	background: #fff;
}
.list {
	padding: 0 12% 1.8rem 12%;
	border-bottom: 2px solid #dddddd;
}
.dates {
	padding: 0.7rem 0 1rem 0;
}
.date {
	color: #515151;
	font-size: 1.5rem;
}
.time {
	float: right;
	padding-right: 1.3rem;
	color: #c7c7c7;
	font-size: 1rem;
}
.details p {
	display: inline;
	height: 2.2rem;
	line-height: 2.2rem;
	color: #a6a6a6;
	font-size: 1.3rem;
}
/*footer*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	height: 6.5rem;
	background: rgba(41,189,224,.5);
}
.container {
	max-width: 640px;
	min-width: 320px;
	padding: 0 1.5rem;
	background: rgba(41, 189, 224, .5);
}
button {
	width: 100%;
	border: none;
	margin: 1.3rem 0;
	border-radius: 10px;
	height: 4.4rem;
	color: #fff;
	font-size: 2rem;
}
.again {
	background: #f66f6f;
	overflow: hidden;
	white-space: nowrap;
}
.uploading{
	background: #fbb435;
	overflow: hidden;
	white-space: nowrap;
}
@media screen and (min-width: 320px) {
 	html {
		font-size: 50%;
	}
}
@media screen and (min-width: 420px) {
	html {
		font-size: 65%;
	}
}
@media screen and (min-width: 520px) {
	html {
		font-size: 116%;
	}
}