/*module*/
header {
    padding: 1rem;
    background: #29bde0;
    overflow: hidden;
}
body {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    letter-spacing: 0.2rem;
}
h3 {
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    min-width: 320px;
    max-width: 640px;
}