html {
    font-size: 625%;
}
.focus {
    position: relative;
    float: left;
    width: 100%;
    background-color: #000; 
}
.focus img { 
    width: 100%;
} 
.shadow .title {
    width:  260px; 
    height:  65px;
    padding-left:  30px;
    padding-top:  20px;
}
.shadow .title a {
    text-decoration: none; 
    color: #fff; 
    font-size: 14px; 
    font-weight: bolder;
    overflow: hidden; 
}
.btn {
    position: absolute;
    bottom: 34px; 
    left: 510px;
    overflow: hidden; 
    zoom: 1;
} 
.btn a {
    position: relative;
    display: inline;
    width: 13px; 
    height: 13px;
    border-radius: 7px;
    margin: 0 5px;
    color: #B0B0B0;
    font: 12px/15px "\5B8B\4F53";
    text-decoration: none; 
    text-align: center;
    outline: none; 
    float: left; 
    background: #D9D9D9;
}  
.btn a:hover,.focus .btn a.current {
    cursor: pointer;
    background: #fc114a;
}  
.fPic {
    position: relative;
}  
.D1fBt {
    overflow: hidden; 
    zoom: 1;  
    height: 16px;
    z-index: 10;  
}  
.shadow {
    width: 100%; 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 80px; 
    line-height:  80px; 
    background: rgba(0,0,0,0.6);
    filter: progid: DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9; 
    display: block; 
    text-align: left; 
}  
.shadow a {
    text-decoration: none; 
    color: #fff; 
    font-size: 20px;
    overflow: hidden; 
    margin-left: 10px;
}  
.fcon {
    position: relative;
    width: 100%; 
    float: left;  
    display: none;
    background: #000 
}  
.fcon img {
    display: block;
}  
.fbg {
    position: absolute;
    bottom: 3.3%;
    padding-left: 46.5%;
    height: 21px;
    z-index: 200;
}  
.fbg div {
    margin: 4px auto 0;
    overflow: hidden;
    zoom: 1;
    height: 18px
}    
.D1fBt a {
    position: relative;
    display: inline;
    width: 15px;
    height: 15px;
    border: 1px solid #c6c4c9;
    border-radius: 10px;
    margin: 0 5px;
    color: #B0B0B0;
    font: 12px/15px "\5B8B\4F53";
    text-decoration: none; 
    text-align: center; 
    outline: 0; 
    float: left; 
    background: transparent;
}    
.D1fBt .current,.D1fBt a:hover {
    background: #29b078;
}    
.D1fBt img {
    display: none
}    
.D1fBt i {
    display: none; 
    font-style: normal;
}    
.prev, .next {
    position: absolute;
    width: 40px;
    height: 74px;
}
.prev {
    top: 50%;
    margin-top: -20px;
    left: 16%;
    background: url(../images/pre.png) no-repeat;
    background-size: 0.26rem 0.46rem;
    cursor: pointer; 
}
.next {
    top: 50%;
    margin-top: -20px;
    right: 16%;
    background:  url(../images/next.png) no-repeat;
    background-size: 0.26rem 0.46rem;
    cursor: pointer;
}
